:root {
  --ion-background-color: white;
  --ion-item-background: white;
  --ion-item-border-color: grey;
  --border-style: solid;
  --inner-border-width: 0px 0px 0.55px 0px;
  --ion-padding-start: 5px;
  --padding-start: 5px;
  --statusbar_mb_padding: 32px;
  padding-inline-start: 5px;
  --padding-inline-start: 5px; }

ion-content {
  --padding-start: 5px; }

/*# sourceMappingURL=var.css.map */