/* --------------------------------------------------------------

 Hartija Css Print  Framework
   * Version:   1.0

-------------------------------------------------------------- */
@page {
  margin: 0;
}
body {
  width: 100% !important;
  margin: 0 !important;
  line-height: 1.45;
  font-family: Garamond, "Times New Roman", serif;
  color: #000;
  background: none;
  font-size: 14pt;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}
h1 {
  font-size: 19pt;
}
h2 {
  font-size: 17pt;
}
h3 {
  font-size: 15pt;
}
h4, h5, h6 {
  font-size: 14pt;
}
p, h2, h3 {
  orphans: 3;
  widows: 3;
}
code {
  font: 12pt Courier, monospace;
}
blockquote {
  margin: 1.2em;
  padding: 1em;
  font-size: 12pt;
}
hr {
  background-color: #ccc;
}
/* Images */
img {
  float: left;
  margin: 1em 1.5em 1.5em 0;
  max-width: 100% !important;
}
a img {
  border: none;
}
/* Links */
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #333;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
/* Don't show linked images  */
a[href^="http://"] {
  color: #000;
}
a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after {
  content: " (" attr(href) ") ";
  display: none;
}
/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {
  content: "";
}
/* Table */
table {
  margin: 1px;
  text-align: left;
}
th {
  border-bottom: 1px solid #333;
  font-weight: bold;
}
td {
  border-bottom: 1px solid #333;
}
th, td {
  padding: 4px 10px 4px 0;
}
tfoot {
  font-style: italic;
}
caption {
  background: #fff;
  margin-bottom: 2em;
  text-align: left;
}
thead {
  display: table-header-group;
}
img, tr {
  page-break-inside: avoid;
}
/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar
{display:none;}
*/
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}
/** Paper sizes **/
body.A3 .sheet { width: 297mm; height: 419mm }
body.A3.landscape .sheet { width: 420mm; height: 296mm }
body.A4 .sheet { width: 210mm; height: 296mm }
body.A4.landscape .sheet { width: 297mm; height: 209mm }
body.A5 .sheet { width: 148mm; height: 209mm }
body.A5.landscape .sheet { width: 210mm; height: 147mm }
body.letter .sheet { width: 216mm; height: 279mm }
body.letter.landscape .sheet { width: 280mm; height: 215mm }
body.legal .sheet { width: 216mm; height: 356mm }
body.legal.landscape .sheet { width: 357mm; height: 215mm }
/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }
/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto;
  }
}
/** Fix for Chrome issue #273306 **/
@media print {
  body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5 { width: 148mm }
  body.letter, body.legal { width: 216mm }
  body.letter.landscape { width: 280mm }
  body.legal.landscape { width: 357mm }
  .no-print, .no-print *, .no_print, .no_print * {
    display: none !important;
  }
}

.text_center {
  text-align: center;
  & {
    text-align: center
  }
}
/** Margins **/
.p1{
  padding: 5mm 5mm 5mm 5mm;
}
