$grey_bg: #efefef;
$grey_border: #cecece;
$dark_blue: #001c42;

$light_blue: #68BBE3;
$blue: #0E86D4;
$mild_blue: #055C9D;
$dark_blue: #003060;

:root {
  //--ion-background-color: #efefef;
  --ion-background-color: white;
  --ion-item-background: white;
  --ion-item-border-color: grey;
  --border-style: solid;
  --inner-border-width: 0px 0px 0.55px 0px;
  --ion-padding-start: 5px;
  --padding-start: 5px;
  --statusbar_mb_padding: 32px;
  padding-inline-start: 5px;
  --padding-inline-start: 5px;
}

ion-content {
  --padding-start: 5px;
}
