@import "../theme/variables.css";
@import "var";
@import "fonts";
@mixin box {
  padding: 20px 15px;
}
/* fix status bar overlay b3t */
html {
  padding-top: var(--statusbar_mb_padding) !important;
}
ion-tabs {
  height: calc(100% - var(--statusbar_mb_padding)) !important;
}
ion-header.ios > ion-toolbar {
  height: 56px;
}
/* fix status bar overlay END */
:root {
  --ion-text-borcolor: black;
  --ion-font-family: 'Arial';
  --ion-item-color: black;
  --webkit-control-background: white;
  --ion-safe-area-bottom: 8px;
}
ion-label {
  color: black;
}
ion-tab-bar ion-tab-button {
  margin-top: -5px;
}
.ionicon {
  width: 20px;
}
a {
  text-decoration-line: none;
}
.p03 {
  padding: 0.3rem;
}
.w-50 {
  width: 50%
}
.w-50-cen {
  width: 50%;
  margin-left: 25%
}
.w-60 {
  width: 60%
}
.w-60-cen {
  width: 60%;
  margin-left: 20%
}
.w100, .w-100 {
  width: 100%;
}
.w48 {
  width: 48% !important;
}
.w33 {
  width: 33% !important;
}
.w-75-cen {
  width: 75%;
  margin-left: 12.5%;
}
.w-90-cen {
  width: 90%;
  margin-left: 5%;
}
.w10 {
  width: 10%
}
.w15 {
  width: 15%
}
.w20 {
  width: 20%
}
.w25 {
  width: 25%
}
.w30 {
  width: 30%
}
.w35 {
  width: 35%
}
.w40 {
  width: 40%
}
.w60 {
  width: 60%
}
.w70 {
  width: 70%
}
.row {
  float: left;
  width: 100%;
}
.float_left {
  float: left;
}
.pull-right, .float_right {
  float: right;
}
#logo {
  width: 100%;
  padding-top: 20px;
}
.th {
  line-height: 20px;
  font-weight: bold;
  font-size: 90%;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey_border;
  margin-bottom: 15px;
}
.tr, .th {
  float: left;
  width: 100%;
}
.tr > .td, .th > .td {
  float: left;
}
/*
input.native-input, input.native-input.sc-ion-input-ios, input.native-input.sc-ion-input-md {
  border-bottom: 1px solid $grey_border;
  --padding-top: 0;
}
*/
/*
Detail view
 */
ion-item ion-label, ion-item ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  font-size: 80%;
}
body.offset_input {
  position: relative;
  top: -23vh;
}
.no_border, .no_border .item-inner {
  border-width: 0;
  border-style: none;
  border-color: transparent;
  --inner-border-width: 0;
  * {
    border-style: none;
    --border-style: none;
    --inner-border-width: 0;
  }
  .item-inner {
    border-style: none;
    --border-style: none;
    --inner-border-width: 0;
  }
}
.table.p05 {
  * .td {
    padding: 0.5rem;
  }
}
.table.p03 {
  * .td {
    padding: 0.3rem;
  }
}
#hero_img {
  width: 100%;
  display: block;
}
#content {
  width: 100%;
  &.has_pad {
    padding: 15px;
  }
}
.hidden {
  display: none !important;
}
.d-flex {
  display: flex !important;
}
.d-flex-cen {
  display: flex !important;
  justify-content: center;
}
#login_box {
  @include box;
  padding-top: 1px;
  background-color: white;
}
#forgot_box {
  @include box;
}
/*
ion-item.no_border div.item-inner{
  border: none;
}*/
div.item-inner {
  border: none;
}
.small_text {
  font-size: 75% !important;
}
/*
ion-item {
  --border-style: none;
}
*/
ion-item {
  --padding-start: 3px;
}
.odd, .odd > div {
  background-color: #eee;
}
ion-select, ion-select * {
  color: black;
}
.color_pri {
  color: var(--ion-color-primary)
}
.full_width_title {
  width: 100vw;
  float: left;
  background-color: $grey_bg;
  text-transform: uppercase;
  padding: 8px;
  margin-left: -10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
[role="banner"] {
  background-color: white;
}
h2 {
  font-weight: bold;
  color: var(--ion-color-primary)
}
h3 {
  color: var(--ion-color-primary)
}
ion-button {
  font-weight: bold;
  --border-radius: 6px;
  height: 31px;
  --padding-start: 1.7em;
  --padding-end: 1.7em;
}
ion-button.button-small {
  --padding-start: 0.9em;
  --padding-end: 0.9em;
  height: 2.1em;
}
body {
  font-family: Arial, serif;
}
/*
ion-title {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
  vertical-align: initial;
}*/
ion-card.infobox > ion-item > ion-label {
  color: var(--ion-color-primary) !important;
  font-weight: bold;
  font-size: 140% !important;
}
ion-toolbar.hidden {
  height: 0 !important;
  padding: 0 !important;
}
button.icn {
  background-color: transparent;
  background-repeat: no-repeat;
  height: 24px;
  &.back {
    background-image: url("../../public/assets/icon/bck.svg");
    background-position-y: center;
  }
}
ion-item.tiny {
  padding: 2px;
  --padding-start: 2px;
  font-size: 12px !important;
  & * {
    font-size: 12px !important;
  }
}
ion-header, ion-toolbar {
  /*margin-top:30px;/* zsdf debugging ios */
}
//ion-header ion-title {
//  padding-left: 0;
//}
ion-toolbar {
  text-align: center;
}
.sc-ion-alert-ios-h {
  --max-width: 360px;
}
.border_bot {
  border-bottom: 1px solid $grey_border;
}
ion-modal {
  width: 90%;
  height: calc(100vh - var(--statusbar_mb_padding)) !important;
  margin: 110px 5%;
  & > ion-content {
    padding: 10px
  }
  &.full_width {
    width: 100%;
    margin: 0;
  }
}
.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}
ion-select-popover .item ion-label.sc-ion-label-md-s, ion-select-popover .item ion-label.sc-ion-label-md-h, ion-select-popover .item ion-label.sc-ion-label-md-s, ion-select-popover .item ion-label.sc-ion-label-ios-s, ion-select-popover .item ion-label.sc-ion-label-ios-h {
  overflow: initial;
  white-space: initial;
}
.p5 {
  padding: 5px;
  --padding-start: 5px;
}
.text_center {
  text-align: center
}
.padding_sm {
  padding: 10px
}
td {
  word-break: break-word
}
/*fix bug sweetalert2 setting height=auto ; breaks mobile app*/
body.swal2-height-auto {
  height: inherit !important;
}
ion-content {
  padding: 5px 5px 5px 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 5px;
  --padding-left: 5px;
  --padding-bottom: 5px;
  --padding-right: 5px;
}
ion-input.has_lookup {
  width: 90%;
  float: left;
}
.lookup_i {
  width: 9%;
  font-size: 20px;
  padding-left: 10px;
}
.item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h, ion-item ion-label, ion-item ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  width: 27%;
  &.multi_line {
    max-height: 50px;
    text-overflow: initial;
    white-space: inherit;
  }
}
.card-content-ios {
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
ion-content.condensed {
  --padding-inline-end: 3px;
  --padding-inline-top: 3px;
  --padding-inline-bottom: 3px;
}
.date_on_show {font-weight: bolder}
#winning_num {font-size: 150%; color: red;}
#addi_num {font-size: 150%;font-weight: bold;}
#next_jackpot{font-size: 200%; color: red; font-weight: bolder;text-align: center;
padding: 2em 2em}
